name: Integration Test

on:
  push:
    branches: [ main ]
    paths:
      - '.github/**'
      - 'src/**'
      - 'leviosam-test.py'
      - 'CMakeLists.txt'
      - 'CMakeLists.txt.in'
      - 'testdata/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/**'
      - 'src/**'
      - 'leviosam-test.py'
      - 'CMakeLists.txt'
      - 'CMakeLists.txt.in'
      - 'testdata/**'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  create-env:
    name: ${{ matrix.os }} 
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
        
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
        
      - name: create environment with mamba
        uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          channels: conda-forge,bioconda,defaults
      
      - name: check solution
        run: |
          mamba env export
    
      - name: Set up SDSL
        run: sudo apt-get -y install libsdsl-dev

      - name: Set up htslib
        run: wget https://github.com/samtools/htslib/releases/download/1.16/htslib-1.16.tar.bz2 && tar -vxjf htslib-1.16.tar.bz2 && cd htslib-1.16 && ./configure && make && sudo make install && cd ../ && rm htslib-1.16.tar.bz2

      - name: Configure CMake
        # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
        # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        # Build your program with the given configuration
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Install packages
        run: |
            conda install -c bioconda pysam picard
      - name: Run leviosam-test
        run: |
            cd ${{github.workspace}}/test_data
            python ${{github.workspace}}/leviosam-test.py ${{github.workspace}}/build/leviosam2
